@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*
{
    padding:0px;
    margin:0px;
    border:0px;
    font-size:100%;
    vertical-align: baseline;
font-family:'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
list-style:none ;

text-decoration: none;

}

*::first-letter{
    text-transform: capitalize;
}

/*  ////////////////////////////////////////////CSS - CARRUSEL////////////////////////////////////////*/




.carrusel
{
   width: 1280px;
   height: 640px;
   margin:50px auto 0;
    overflow: hidden;
    
    
    
}

.carrusel ul
{
    
    display:flex;
    padding:0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    
}

.carrusel li
{
    width: 100%;
    list-style:none;
    position: relative;
    

    
}

.text
{
    
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color:white;    
}
.text h2
{
    padding-top: 150px;
    font-size: 45px;
    margin-bottom: 35px;
    color:white;
    text-align:center;
}
.carrusel img{
    
    width: 50%;
    height: 50%;
    margin-left: 25%;
    
   
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* BANNER */

.banner{
    position: relative;
    widows: 90%;
    height: calc(100vh - 50px);
    background-image: url(/IMGS/robotica_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.content{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    color:white;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.content{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin:20px;
    font-size: 15px;
    margin-bottom: 20px;
}




:root
{
--color-principal-bg:rgb(172, 189, 209);
--bg-color-secundario:rgb(149, 149, 202);
--color-secundario-bg:rgb(255, 251, 0);
--degradado-princ:linear-gradient(lightgray, lightblue);
--texto-color1:white; 
--texto-secundario:#fffb01;
--degradado-secundario:linear-gradient(blue,black,yellow);
--bgcolor-nav:#056197ba;

}



body
{
background-color:#080e7e ;

}

header
{
 min-height: 15vh;    
 display:flex;   
 align-items:center;
}

.container
{
max-width:1100px ;
margin:0 auto;

}

.menu
{

position:absolute; 
left:0;
right:0;
display:flex;
z-index: 1000;
align-items: center;
justify-content: space-between;
top:10px;


}

   

.menu .logo
{
font-weight:700;
font-size:25px;
color: #FFFFFF;
}

.menu .navbar ul li
{
position:relative; 
float:left;

}

.menu .navbar ul li a
{
    font-size:18px;
    padding:10px 35px;
    color:#FFFFFF;
    border-radius: 15px;
    display: block;
}
    .menu .navbar ul li a:hover
    {
        background-color: #121499;
    }
    #menu
    {
       display:none; 
    }
    .menu-icono
    {
        
        width:25px;
    }
    .menu label{
        cursor:pointer;
        display: none;
    }

    /* .menu a::after
{
content:"";
background-color:var(--texto-secundario);
position: absolute;
left:0;
top:75%;
width:100%;
height:4px;
opacity:0;


transition: 0.6s; 
}

.menu a.selected::after,
.menu a:hover::after{
opacity:0.8;


}

*/
    .header-content
    {
        display:flex;
    }
    .header-content img
    {
        width:600px;
        margin-top:10px;
    }
.content
{
    padding:10px 50px 0px 0px;

}

.content h1
{
   color:white;
   font-size:51px;
   font-weight:700;
   line-height: 70px;
}

.content p
{
   margin-top: 25px;
   color:white;
   font-size: 20px; 
}
.btn-1
{
    display:inline-block;
    background-color: #3EDADD;
    margin-top:80px ;
    padding:15px 25px;
    color:white;
    border-radius: 10px;
}

.btn-1:hover
{
background-color:#2ACCCF;
}
/* ///////////////////////////////////////JW//////////////////////////////////// */
.btn-4
{
    text-align: center;
    width: auto;
    border:0;
    background-image:linear-gradient(150deg, #1721b8, rgb(0, 102, 255), #1721b8) ;
    display:inline-flex;
    padding:4px;
    cursor:pointer;
    color:white;
   transition: .3s;
    border-radius: 8px;
}
.btn-4 span
{
    width: 100%;
background-color:#121499;
padding: 16px 24px;
border-radius:6px;
transition: .3s;
}
.btn-4:hover span
{
background:none;
}
.btn-4:active 
{
    transform: scale(0.9);
}



.btn-5
{
    text-align: center;
    width: auto;
    
    border:0;
    background-image:linear-gradient(150deg, rgb(0, 102, 255), #1721b8, rgb(0, 102, 255)) ;
    display:inline-flex;
    padding:4px;
    cursor:pointer;
    color:white;
   transition: .3s;
    border-radius: 8px;
}
.content2{
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
        -top: 100px;
}

.content2 h1
{
    display: block;
    width: 50%;
    text-align: center;
    border:ridge;
   color:white;
   font-size:55px;
   font-weight:700;
   line-height: 70px;
}
.btn-5 span
{
    width: 100%;
background-color:#121499;
padding: 16px 21px;
border-radius:6px;
transition: .3s;
}
.btn-5:hover span
{
background:none;
}
.btn-5:active 
{
    transform: scale(0.9);
}

/*/////UBICACION/////*/
.ubic
{
    opacity:1;
    background-color: #0c0e30;
    padding:50px 0px;
    display:flex;
    text-align: center;
    color:white;
}
.ubic img
{
    width:350px;
}
.ubication
{
    
    text-align: center;
    width: 100%;
    display: block;
   
}
.ubication h2
{
    font-size: 55px;
    
}

.ventana
 {
background-color:#0e1031 ;
width: 70%;
height: auto;
display: none;
Color: white;
text-align: center;
padding: 33px;
min-height: 250px;
border-radius: 22px;
  }

  



#cerrar{
    width: 100%;
   
}
.activities2
{
padding:30px;
margin:0px 10px;
}
.activities2 p{
    background-image:  linear-gradient(150deg, rgb(37, 103, 202), #1721b8, rgb(32, 103, 209));
    color: #ffffff;
    font-size:80px;
}
.activities2 img
{
    width:150px;
    height:100px;
    margin-bottom: 15px;
}
.activities2 h3
{
    font-size:20px;
    margin-bottom: 20px;
}

.activities2 p
{

    font-size:16px;
}
/*//////MENSAJERIA//////*/
.contacts
{
    
display: flex;
justify-content: center;
align-items: center;
padding: 50px 0px;
color:white;
    
   
}
.contact
{
    
    
    text-align: center;
    display: block;
}

.contact h2
{
   
    padding: 5px;
    font-size:35px;
    margin-bottom: 25px;
}

/*//////FOOTER/////*/
footer{
    width: 100%;

    background-color:#0c0e30;
}

footer .f1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .f1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

footer .f1 .box figure img{
width: 250px;
}
footer .f1 .box h2{
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 20px;
}
footer .f1 .box p{
color: #efefef;
margin-bottom: 10px;
}
footer .f1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: auto;
    height: 70px;
    line-height: 45px;
   color: #FFFFFF;
   margin-right: 10px;
   
   text-align: center;
  transition: all 300ms ease;
}

footer .f2{
background-color: black;
padding: 15px 10px;
text-align: center;
color: #FFFFFF;
}

@media screen and (max-width:800px){
    footer .f1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 45px 0px;
        
    }    

}

/*---------------------Pagina mensajeria----------------*/
.body-contact{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    
}

.formu{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #171c6a;
 }

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formu h2{
    font-size: 55px;
    color:white;
    margin-bottom: 20px;
}

.formu label{
    width: auto;
    background-color:#080e7e;
    color:black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.formu input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #f0faf1;
    color: #101558;
    outline: none;
}

.formu input::placeholder textarea::placeholder{
 color: #b5cab6;
}

.form-txt{
 margin-bottom: 30px;
 display: flex;
 justify-content: space-between;
 text-align:center;
}  

.form-txt a {
    color:#2ACCCF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn-msj{
    font-size: 16opx;
    color:#ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn-msj hover{
    background-color:#000faf;
}

    
/*---------------------Pagina comentarios----------------*/


.comen{
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
   height:100%;
    background-color: #171c6a;
 }
 .comen h2{
    font-size: 55px;
    color:white;
    margin-bottom: 20px;
}
.comentarios{
    background-color: #7596df;
}

/*---------------------Pagina electronica----------------*/
.fondo-elec{
    background-color: #0e1019;
}
/* ///////////////////////////////////////JW//////////////////////////////////// */
.activity
{
    
    padding:40px 0px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    color:white;
}
.activity2
{
background-color:#0c0e30;
    margin-top:50px;
    padding-top: 25px;
    display:block;
    justify-content: space-between;
    text-align: center;
    color:white;
}

.activities
{
    
padding:30px;
margin:0px 10px;
background-color:#0E0F52;

}
.activities img
{
    width:270px;
    height:200px;
    margin-bottom: 15px;
    
}
.activities img:hover
{
   
    transform: scale(1.2);
    
}
.activities h3
{
    font-size:20px;
    margin-bottom: 20px;

}

.activities p
{
    font-size:16px;
}
.activities a
{
    color:white;
}

form
{
    margin-bottom: 25px;
}
.btn-2
{
    background-color:#101558;
    padding:10px 25px;
    border: 2px solid #1D235F;
    color:white;
}

.btn-3
{
    background-color: #3EDADD;
    padding:10px 25px;
    border:0;
    color:white;
}

.enlaces{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.enlaces h3
{
    font-size: 25px;
}

.enlace
{
    display:flex;
}
.enlace li a
{
    display: block;
    margin:20px;
    color:white;
    padding:10px 35px;
    border-radius: 15px;
}

.enlace li a:hover
{
    background-color: #3EDADD;
}

@media(max-width:991px)
{
 .menu
 {
    padding:20px;
 }    

 .menu label{
    display: initial;
 }
 .menu .navbar{
position: absolute;
top:100%;
left:0;
right:0;
background-color: #0E0F52;
display:none;
 }

 
.menu .navbar ul li
{
width: 100%;

}

.menu .navbar ul li a
{
   margin:10px;
   padding:15px 35px;
}

#menu:checked ~ .navbar
{
    display:initial;
}
    
.header
{
    height:0vh;
    padding:400px 0px 340px 0px;
}
.header-content{
    flex-direction: column;
    text-align:center;
    align-items: center;
    padding:100px 30px;
}
.carrusel
{
   width: 740px;
   height: auto;
   margin:25px auto 0;
    overflow: hidden;
    
    
}
.text h2
{
    padding-top: 40px;
    font-size: 45px;
    margin-bottom: 15px;
    color:white;
    justify-content: space-between;
}
.content{
    padding:0;
}
.content h1{
    margin-top: 0;
}
.content p{
    margin-top:15px;
}
.btn-1{
    margin-top:15px;
}
.header-content img{
    margin-top:45px;
    width:200px;

}
.activity{
    flex-direction: column;
    padding: 30px 30px 0px 30px;
}
.activities{
    margin-bottom:30px;
}

.ubic{
    
    flex-direction: column;
    align-items: center;
    padding:0px 30px;
    text-align:center;
}

.ubic img{
    width:150px;
    margin-top:35px;
}

.ubication{
    
    margin:0px;
    text-align: center;
}

.contacts{
    padding:50px 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contacts img{
    display:none;
}



.btn-2{
    margin-bottom: 25px;
}


.enlaces{
flex-direction: column;
align-items: center;


}

.enlace{
    flex-direction: column;
}

.activities img
{
    width:100%;
}
.body-contact{
    margin-top: 50px;
    padding: 30px;
}
.formu{
padding : 50px 33px;
width: 100%;
}

.formu input{
    padding: 15px;
}

.content2 h1
{
    width: 100%;
}

.ventana iframe
  {
        width: 100%;
        height: 80%;
  }

  .carrusel
{
   width: auto;
   height: auto;
   margin:50px auto 0;
    overflow: hidden;
}

.carrusel ul
{
    
    display:flex;
    padding:0;
    width: 200%;
    height: 50%;
    animation: slide 20s infinite alternate ease-in-out;
}

.carrusel li
{
    width: 50%;
    list-style:none;
    position: relative;
}
.carrusel img{
    
    width: 100%;
    height: 100%;
    margin-left: 10%;
    
   
}

.content h1 {
    margin-right: 50px;
}
.content p {
    margin-right: 50px;
}

}


.robotica{
    background-color: #121499;
    margin: 50px 25px 10px ;
    padding-top: 40px;
    padding: 50px;
    border-radius: 25px;
}

.robotica h1{
    display: block;

    text-align: center;
   color:white;
   font-size:55px;
   font-weight:700;
   line-height: 70px;
}

.robotica p{
    margin-top: 10px;
    font-size:25px;
    color:white;

}

.titular-actividad h1{
    display: block;

    text-align: center;
   color:white;
   font-size:40px;
   font-weight:700px;
   line-height: 70px;
}
